body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: red;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 24px;
}